---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="自己紹介"
	pubDate={new Date('2025-12-02')}
	
>
<div class="prose-content">
		<p>
			はじめまして<br>
			このページを訪れていただきありがとうございます。
		</p>

		<h3>このブログについて</h3>
		<p>
			主に日々の記録として使おうと思っています。<br>
			趣味のイルミネーションやDIYに関する技術解説、エッセイ的な文章を<br>
			ざっくばらんに書いていきます。
		</p>

		<h3>プロフィール</h3>
		<ul>
			<li><strong>名前:</strong> Hagi</li>
			<li><strong>職業:</strong> 学生(M2) / もうすぐ社会人</li>
			<li><strong>好きなもの:</strong> キラキラしているもの、ワクワクすること</li>





	<p>

	</p>



		</ul>

		<h3>お問い合わせ</h3>
		<p>
			文句やクレームはXのDMまでお願いします。<br>
			<a href="https://twitter.com/@pancake1415">Twitter / X を見る →</a>
		</p>
	</div>

</Layout>